<header class="intro-header" style="background-image: url(/assets/afropean.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Afropean</h1>
                    <hr class="small">
                    <span class="subheading">Project<!--Empowerment through diversity and inclusion--></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3 class="page-header">
				Events
				
			</h3>
			<small><%= link_to "All events", events_path, class: "pull-right btn btn-default" %></small>
		</div>
		<div class="col-md-4">
			<h3 class="page-header">
				News
				
			</h3>
			<small><%= link_to "All news", articles_path, class: "pull-right btn btn-default" %></small>
		</div>
	</div>
</div>